<<<<<<< HEAD
@charset "UTF-8";
=======

>>>>>>> 40232efce16720ffa9fdbf8d34237af595e50278
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

<<<<<<< HEAD
section.main {
	flex: 1;
}
=======
section {
	flex: 1;
}

header {
	font-size: 30px;
	font-weight: bold;
}
>>>>>>> 40232efce16720ffa9fdbf8d34237af595e50278
