<<<<<<< HEAD

=======
@charset "UTF-8";
>>>>>>> fe74c4c98396f8694bf1545e993fe0cda96341bc
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

<<<<<<< HEAD
section {
	flex: 1;
}

header {
	font-size: 30px;
	font-weight: bold;
}
=======
section.main {
	flex: 1;
}
>>>>>>> fe74c4c98396f8694bf1545e993fe0cda96341bc
